.frutas{
    background-image: url(../assets/img/frutas-fondo.jpg);
    @include grid(repeat(4, 1fr), 300px repeat(3, 1fr));
    @include background;
    font-family: 'Roboto Condensed', sans-serif;
    h1{
        text-align: center;
    }
    h2{
        font-size: 20px;
    }
    .titulo{
        grid-column: 2/4;
        grid-row: 1/2;
        display: flex;
        flex-direction: column;
        justify-self: center;
        background-color: rgba(128, 128, 128, 0.768);
        height: 270px;
        color: white;
        border-radius: 10px;
        margin: 10px;
    }
    .frutas1{
        grid-column: 1/5;
        grid-row: 2/3;
        @include flexFrutas;
    }
    .frutas2{
        grid-column: 1/5;
        grid-row: 3/4;
        @include flexFrutas;
    }
    .frutas3{
        grid-column: 1/5;
        grid-row: 4/5;
        @include flexFrutas;
    }
}
